
body {
    font-family: 'Arial', sans-serif;
}
@font-face {
    font-family: 'Cor-Medium';
    src: url("fonts/CormorantGaramond-Medium.ttf");
}
@font-face {
    font-family: 'Cor-MediumItalic';
    src: url("fonts/CormorantGaramond-MediumItalic.ttf");
}
@font-face {
    font-family: 'lg-eot';
    src: url("fonts/lg.eot");
}
@font-face {
    font-family: 'lg-ttf';
    src: url("fonts/lg.ttf");
}
@font-face {
    font-family: 'lg-woff';
    src: url("fonts/lg.woff");
}
@font-face {
    font-family: 'Quicksand-Bold';
    src: url("fonts/Quicksand-Bold.ttf");
}
@font-face {
    font-family: 'Quicksand-Medium';
    src: url("fonts/Quicksand-Medium.ttf");
}
@font-face {
    font-family: 'Quicksand-Regular';
    src: url("fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: 'Quicksand-SemiBold';
    src: url("fonts/Quicksand-SemiBold.ttf");
}
@font-face {
    font-family: 'Roboto-ExtraBold';
    src: url("fonts/RobotoSlab-ExtraBold.ttf");
}
@font-face {
    font-family: 'vjs-eot';
    src: url("fonts/vjs.eot");
}
@font-face {
    font-family: 'vjs-ttf';
    src: url("fonts/vjs.ttf");
}
@font-face {
    font-family: 'vjs-woff';
    src: url("fonts/vjs.woff");
}
.text1 {
    font-family: 'Cor-MediumItalic';
}

.text2 {
    font-family: 'Quicksand-Medium';
}

.text3 {
    font-family: 'Cor-MediumItalic';
    position: relative;
}

.text3 img {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, -50%);
    opacity: 0.5;

}

.text4 {
    font-family: 'Quicksand-Regular';
}

.background-body {
    background-image: url("images/background/1.png");
    background-color: rgb(229, 221, 196);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-attachment: fixed;
}

.header-main {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}

.header-wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    /* Giảm khoảng cách dưới logo */
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav .nav-link {
    color: white;
}

.nav-item {
    margin-right: 15px;
}

.language-icon img {
    width: 25px;
    /* Giảm kích thước biểu tượng ngôn ngữ */
    height: auto;

}

.carousel-caption {
    position: absolute;
    height: 56%;

}

.carousel-indicators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    margin-right: 50px;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
}

.carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 10px;
}

.carousel-indicators .active {
    background-color: white;
}

.d-flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* Khoảng cách giữa các phần tử */
}

.col-divider {
    border-right: 2px solid #ccc;
    /* Màu và độ dày đường gạch dọc */
    padding-right: 20px;

    /* Khoảng cách giữa đường gạch và nội dung */
}

/* Định dạng cho cột cuối cùng */
.col:last-child {
    border-right: none;
    /* Loại bỏ đường gạch dọc cho cột cuối cùng */
}

.bgColor1 {
    background-color: rgb(247, 243, 231);
    text-align: center;
}

span.strikethrough {
    text-decoration: line-through;
    background-color: white;
    color: #757070;
    border-radius: 3px;
    padding: 2px 4px;
    width: 100px;
    height: 20px;
}

.card p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}

.card img {
    text-align: center;
    height: 200px;
    width: 100%;
    margin: auto;

    object-fit: contain;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.container_products {
    background-color: cornsilk;
}

.container_products1 {
    background-color: cornsilk;
}

.img-card {

    background-color: cornsilk;
}

.text-layer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 24px;
    color: white;
}

.promotion-img img {
    border-top-right-radius: 45%;
    border-top-left-radius: 45%;
}

#carouselExampleIndicators1 .carousel-indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    margin-right: 50px;
}

#carouselExampleIndicators1 .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border: 1px solid rgb(62, 60, 60);
    background-color: rgba(255, 255, 255, 0);
}

#carouselExampleIndicators1 .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: yellow;
    margin-bottom: 10px;
}

#carouselExampleIndicators1 .carousel-indicators .active {
    background-color: rgb(209, 209, 59);
}

.space {
    background-image: url('images/background/1.png');
    /* Đường dẫn đến hình ảnh bạn muốn sử dụng */
    background-size: cover;
    /* Chọn kiểu hiển thị ảnh, có thể là 'cover', 'contain', hoặc các giá trị khác tùy thuộc vào yêu cầu của bạn */
    background-position: center;
    /* Điều chỉnh vị trí hiển thị ảnh, có thể là 'center', 'top', 'bottom', 'left', 'right', hoặc giá trị khác */
    height: 100px;
    /* Đặt chiều cao của phần space, giống với chiều cao đã đặt inline trong HTML */
    background-color: white;
}

.promotions {
    background-color: cornsilk;
}

.container-time {
    text-align: center;
}

.container-time .col-divider {

    border-right: 2px solid #ccc;
    /* Màu và độ dày đường gạch dọc */
    padding-right: 10px;

    /* Khoảng cách giữa đường gạch và nội dung */
    width: 20%;
}

.container-time .d-flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 0 10px;

}

.container-time .col-divider:last-child {
    border-right: none;
}

.container-time p {
    font-family: 'Roboto-ExtraBold';
    font-size: 20px;
}

.khung-tren {
    position: absolute;
    width: 100%;
    height: 305px;
    left: 67px;
    top: -20px;
}

.khung-duoi {
    position: absolute;
    width: 90%;
    height: 300px;
    left: 125px;
    bottom: -60px;
}

.img-pr {
    margin: -35px 0 1rem;
}
.cards{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.reviews{
    background-image: url("images/background/1.png");
    background-color: rgb(253, 251, 242);
    height: 500px;

}
.titles{
    padding-top: 20px;
}
.comment h5{
    font-family: 'Roboto-ExtraBold';
    font-size: 26px;
}
.cmt1{
    border: 1px solid rgb(198 190 190);
    margin-left: 70px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(254, 253, 246);
}
.cmt2{
    border: 1px solid rgb(198 190 190);
    margin-left: 70px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(254, 253, 246);
}
.card1 {
    display: flex;
    align-items: center;
    width: 300px; /* Thiết lập chiều rộng phù hợp với nhu cầu của bạn */
    margin: 5px;
    overflow: hidden;
    align-items: center;
    
  }

.card1-img-top {
    flex-shrink: 0; /* Không cho phép hình ảnh co lại */
    width: 90px; /* Thiết lập chiều rộng của hình ảnh */
    height: 90px; /* Thiết lập chiều cao của hình ảnh */
    border-radius: 50%; /* Để hình ảnh trở thành hình tròn (tuỳ chọn) */
    margin-right: 10px; /* Khoảng cách giữa hình ảnh và card1-body */
  }

  .card1-body {
    flex: 1; /* Mở rộng phần body để chiếm hết phần còn lại của card1 */
  }

  .card1-title {
    margin-bottom: 5px;
  }
  .rating {
    color: #ffc107; /* Màu sắc biểu tượng đánh giá (màu vàng trong Font Awesome) */
    font-size: 24px; /* Kích thước biểu tượng */
  }

  .checked {
    color: #f39c12; /* Màu sắc biểu tượng đã chọn (màu vàng cam) */
  }
  #carouselExampleIndicators2 .carousel-indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: last baseline;
    height: 100%;
    margin-left: 110px;
    margin-bottom: -10px;
}

#carouselExampleIndicators2 .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border: 1px solid rgb(62, 60, 60);
    background-color: rgba(255, 255, 255, 0);
}

#carouselExampleIndicators2 .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: yellow;
    margin-bottom: -30px;
}

#carouselExampleIndicators2 .carousel-indicators .active {
    background-color: rgb(209, 209, 59);
}
.card-information h5 {
    margin-bottom: 20px; 
}
#carouselExampleIndicators3 .carousel-indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: last baseline;
    height: 100%;
    margin-left: 110px;
    margin-bottom: -10px;
}

#carouselExampleIndicators3 .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border: 1px solid rgb(62, 60, 60);
    background-color: rgba(255, 255, 255, 0);
}

#carouselExampleIndicators3 .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: yellow;
   
}
#carouselExampleIndicators3 .carousel-indicators .active {
    background-color: rgb(209, 209, 59);
}
.share{
    background-color: rgb(254, 253, 246);
}
.share button{
    margin-top: 10px;
    margin-left: 65px;
}
.news{
    background-image: url("images/background/1.png");
    background-color: rgb(252, 250, 244);
}
.news button{
    margin-top: 10px;
    margin-left: 65px;
}